<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>ADD_REPORT</title>-->
<!--</head>-->
{% extends 'labIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="{% url 'add_report' %}">
  <h1>ADD REPORT</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="row">REPORT</th>
        <td><label for="textarea"></label>
          <textarea name="textarea" id="textarea"></textarea></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="ADD"></th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}