<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HOSPITALHOME</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <h1>HOSPITAL</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col"><p><a href="manageFacilities">MANAGE FACILITIES</a></p>
        <p><a href="manageDepartment">MANAGE DEPARTMENT</a></p>
        <p><a href="manageDoctor">MANAGE DOCTOR</a></p>
        <p><a href="viewSchedule">VIEW SCHEDULE</a></p>
        <p><a href="viewBooking">VIEW BOOKING</a></p>
        <p><a href="manageLab">ADD & MANAGE LAB</a></p>
        <p><a href="logout">LOGOUT</a></p></th>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
