<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>manageDepartment</title>-->
<!--</head>-->
{% extends 'hospitalIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>MANAGE DEPARTMENT</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">Department Name</th>
        <th scope="col">Description</th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.depName}}</td>
        <td>{{i.description}}</td>
        <td><p><a href="{% url 'editDepartment' id=i.id %}">EDIT</a></p>
        <p><a href="{% url 'delDepartment' id=i.id %}">Delete</a></p></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="3"><center><a href="addDepartment">ADD</a></center></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}