<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>viewSchedule</title>-->
<!--</head>-->
{% extends 'hospitalIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>VIEW SCHEDULE</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">DOCTOR NAME</th>
        <th scope="col">DATE</th>
        <th scope="col">START TIME</th>
        <th scope="col">END TIME</th>
        <th scope="col">MAX_APPOINTMENTS</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.docId.fname}} {{i.docId.lname}}</td>
        <td>{{i.date}}</td>
        <td>{{i.startTime}}</td>
        <td>{{i.endTime}}</td>
        <td>{{i.maxAppointment}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}