{% extends 'doctorIndex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post">
  <h1>VIEW SUGGESTED LABS</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">Patient Name</th>
        <th scope="col">LAB Name</th>
        <th scope="col">LabTest Name</th>
        <th scope="col">Date</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.patId.fname}} {{i.patId.lname}}</td>
        <td>{{i.labtesId.labId.name}}</td>
        <td>i.labtestId.name</td>
        <td>&nbsp;</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
