<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <h1>VIEW SUGGESTED LABS</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">Patient Name</th>
        <th scope="col">LAB Name</th>
        <th scope="col">LabTest Name</th>
        <th scope="col">Date</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
